In [1]:
# Imports
from src.print import *
import pandas as pd
import numpy as np
import os

---
# Exercice 1 : « Structure des données »

In [2]:
"""
1. Avec la fonction « read_csv() » charger le contenu du fichier « food_info_csv»;
utiliser le paramètre « index_col » pour choisir « NDB_No » comme index.
2. Vérifier le type de la structure de données créée, en utilisant la fonction « type ».
3. Afficher les noms et les types des colonnes de cet dataframe « variables statistiques observées »
"""
df = pd.read_csv("data/food_info.csv", index_col="NDB_No")
info(type(df))
debug(df.dtypes)

[INFO  16:26:44] <class 'pandas.core.frame.DataFrame'>
[DEBUG 16:26:44] Shrt_Desc           object
Water_(g)          float64
Energ_Kcal           int64
Protein_(g)        float64
Lipid_Tot_(g)      float64
Ash_(g)            float64
Carbohydrt_(g)     float64
Fiber_TD_(g)       float64
Sugar_Tot_(g)      float64
Calcium_(mg)       float64
Iron_(mg)          float64
Magnesium_(mg)     float64
Phosphorus_(mg)    float64
Potassium_(mg)     float64
Sodium_(mg)        float64
Zinc_(mg)          float64
Copper_(mg)        float64
Manganese_(mg)     float64
Selenium_(mcg)     float64
Vit_C_(mg)         float64
Thiamin_(mg)       float64
Riboflavin_(mg)    float64
Niacin_(mg)        float64
Vit_B6_(mg)        float64
Vit_B12_(mcg)      float64
Vit_A_IU           float64
Vit_A_RAE          float64
Vit_E_(mg)         float64
Vit_D_mcg          float64
Vit_D_IU           float64
Vit_K_(mcg)        float64
FA_Sat_(g)         float64
FA_Mono_(g)        float64
FA_Poly_(g)        float64
Cholestrl_(mg)     float64
dtype: object

In [3]:
"""
4. En utilisant la fonction « shape », afficher le message :
 Le nombre de lignes « d’individus » est ….. ;
 et le nombre de colonnes « variables observées » est : ….. .
5. Utiliser les fonctions « info() et describe() » pour voir les caractéristiques du dataframe.
6. Modifier l’index du dataframe afin que « NDB_No », devient une colonne du dataframe
"""
info(f"Le nombre de lignes \"d'individus\" est {df.shape[0]}.")
info(f"Le nombre de colonnes \"variables observées\" est {df.shape[1]}.")

df.info()
debug(df.describe())

# df["NBD_No"] = df.index.values
df = df.reset_index(drop = False)
df

[INFO  16:26:44] Le nombre de lignes "d'individus" est 8618.
[INFO  16:26:44] Le nombre de colonnes "variables observées" est 35.
<class 'pandas.core.frame.DataFrame'>
Index: 8618 entries, 1001 to 93600
Data columns (total 35 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Shrt_Desc        8618 non-null   object
 1   Water_(g)        8612 non-null   float64
 2   Energ_Kcal       8618 non-null   int64
 3   Protein_(g)      8618 non-null   float64
 4   Lipid_Tot_(g)    8618 non-null   float64
 5   Ash_(g)          8286 non-null   float64
 6   Carbohydrt_(g)   8618 non-null   float64
 7   Fiber_TD_(g)     7962 non-null   float64
 8   Sugar_Tot_(g)    6679 non-null   float64
 9   Calcium_(mg)     8264 non-null   float64
 10  Iron_(mg)        8471 non-null   float64
 11  Magnesium_(mg)   7936 non-null   float64
 12  Phosphorus_(mg)  8046 non-null   float64
 13  Potassium_(mg)   8208 non-null   float64
 14  Sodium_(mg)      8535 non-null   float64
 15  Zinc_(mg)        7917 non-null   float64
 16  Copper_(mg)      7363 non-null   float64
 17  Manganese_(mg)   6478 non-null   float64
 18  Selenium_(mcg)   6868 non-null   float64
 19  Vit_C_(mg)       7826 non-null   float64
 20  Thiamin_(mg)     7939 non-null   float64
 21  Riboflavin_(mg)  7961 non-null   float64
 22  Niacin_(mg)      7937 non-null   float64
 23  Vit_B6_(mg)      7677 non-null   float64
 24  Vit_B12_(mcg)    7427 non-null   float64
 25  Vit_A_IU         7932 non-null   float64
 26  Vit_A_RAE        7089 non-null   float64
 27  Vit_E_(mg)       5613 non-null   float64
 28  Vit_D_mcg        5319 non-null   float64
 29  Vit_D_IU         5320 non-null   float64
 30  Vit_K_(mcg)      4969 non-null   float64
 31  FA_Sat_(g)       8274 non-null   float64
 32  FA_Mono_(g)      7947 non-null   float64
 33  FA_Poly_(g)      7954 non-null   float64
 34  Cholestrl_(mg)   8250 non-null   float64
dtypes: float64(33), int64(1), object(1)
memory usage: 2.4+ MB
[DEBUG 16:26:45]          Water_(g)   Energ_Kcal  Protein_(g)  Lipid_Tot_(g)      Ash_(g)  \
count  8612.000000  8618.000000   8618.00000    8618.000000  8286.000000
mean     54.163710   226.438617     11.52391      10.647024     1.816169
std      30.648283   169.388910     10.55059      15.866353     3.035264
min       0.000000     0.000000      0.00000       0.000000     0.000000
25%      30.087500    93.000000      2.47000       0.992500     0.860000
50%      63.265000   191.000000      8.28500       5.235000     1.200000
75%      77.610000   336.000000     19.97750      13.900000     2.140000
max     100.000000   902.000000     88.32000     100.000000    99.800000

       Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  Calcium_(mg)    Iron_(mg)  \
count     8618.000000   7962.000000    6679.000000   8264.000000  8471.000000
mean        21.819062      2.189940       8.464779     76.556026     2.743569
std         27.239000      4.447017      14.920260    205.045513     5.765324
min          0.000000      0.000000       0.000000      0.000000     0.000000
25%          0.040000      0.000000       0.000000     10.000000     0.560000
50%          8.945000      0.700000       1.690000     21.000000     1.380000
75%         32.900000      2.500000       9.000000     67.000000     2.600000
max        100.000000     79.000000      99.800000   7364.000000   123.600000

       ...       Vit_A_IU     Vit_A_RAE   Vit_E_(mg)    Vit_D_mcg  \
count  ...    7932.000000   7089.000000  5613.000000  5319.000000
mean   ...     744.119516    114.236564     1.339343     0.578060
std    ...    3871.474249    857.972785     4.703431     3.887389
min    ...       0.000000      0.000000     0.000000     0.000000
25%    ...       0.000000      0.000000     0.120000     0.000000
50%    ...      33.000000      4.000000     0.300000     0.000000
75%    ...     259.000000     34.000000     0.790000     0.200000
max    ...  100000.000000  30000.000000   149.400000   250.000000

           Vit_D_IU  Vit_K_(mcg)   FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)  \
count   5320.000000  4969.000000  8274.000000   7947.00000  7954.000000
mean      23.152820    15.671342     3.621685      4.14469     2.296772
std      155.482812    81.221277     6.558377      7.05124     5.206410
min        0.000000     0.000000     0.000000      0.00000     0.000000
25%        0.000000     0.200000     0.240000      0.25650     0.230000
50%        0.000000     1.600000     1.613500      1.98100     0.711000
75%        7.000000     5.200000     4.410000      5.22000     2.090000
max    10000.000000  1714.500000    95.600000     83.68900    74.623000

       Cholestrl_(mg)
count     8250.000000
mean        41.457212
std        120.700142
min          0.000000
25%          0.000000
50%          5.000000
75%         67.000000
max       3100.000000

[8 rows x 34 columns]

,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),...,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),NBD_No
NDB_No,,,,,,,,,,,,,,,,,,,,,
1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,24.0,...,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0,1001
1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,24.0,...,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0,1002
1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,4.0,...,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0,1003
1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,528.0,...,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0,1004
1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,674.0,...,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0,1005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83110,MACKEREL SALTED,43.00,305,18.50,25.10,13.40,0.00,0.0,0.00,66.0,...,47.0,2.38,25.2,1006.0,7.8,7.148,8.320,6.210,95.0,83110
90240,SCALLOP (BAY&SEA) CKD STMD,70.25,111,20.54,0.84,2.97,5.41,0.0,0.00,10.0,...,2.0,0.00,0.0,2.0,0.0,0.218,0.082,0.222,41.0,90240
90480,SYRUP CANE,26.00,269,0.00,0.00,0.86,73.14,0.0,73.20,13.0,...,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0,90480
90560,SNAIL RAW,79.20,90,16.10,1.40,1.30,2.00,0.0,0.00,10.0,...,30.0,5.00,0.0,0.0,0.1,0.361,0.259,0.252,50.0,90560
93600,TURTLE GREEN RAW,78.50,89,19.80,0.50,1.20,0.00,0.0,0.00,118.0,...,30.0,0.50,0.0,0.0,0.1,0.127,0.088,0.170,50.0,93600

---
# Exercice 2 : « Accès aux données »

In [4]:
"""
1. Afficher les trois premières lignes du dataframe, en utilisant la fonction « head ».
2. Afficher les sept dernières lignes du dataframe, en utilisant la fonction « tail ».
"""
info(df.head(3))

debug(df.tail(7))

[INFO  16:26:46]                        Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)  \
NDB_No
1001            BUTTER WITH SALT      15.87         717         0.85
1002    BUTTER WHIPPED WITH SALT      15.87         717         0.85
1003        BUTTER OIL ANHYDROUS       0.24         876         0.28

        Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  \
NDB_No
1001            81.11     2.11            0.06           0.0           0.06
1002            81.11     2.11            0.06           0.0           0.06
1003            99.48     0.00            0.00           0.0           0.00

        Calcium_(mg)  ...  Vit_A_RAE  Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  \
NDB_No                ...
1001            24.0  ...      684.0        2.32        1.5      60.0
1002            24.0  ...      684.0        2.32        1.5      60.0
1003             4.0  ...      840.0        2.80        1.8      73.0

        Vit_K_(mcg)  FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)  Cholestrl_(mg)  \
NDB_No
1001            7.0      51.368       21.021        3.043           215.0
1002            7.0      50.489       23.426        3.012           219.0
1003            8.6      61.924       28.732        3.694           256.0

        NBD_No
NDB_No
1001      1001
1002      1002
1003      1003

[3 rows x 36 columns]
[DEBUG 16:26:46]                          Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)  \
NDB_No
48052           VITAL WHEAT GLUTEN       8.20         370        75.16
80200                FROG LEGS RAW      81.90          73        16.40
83110              MACKEREL SALTED      43.00         305        18.50
90240   SCALLOP (BAY&SEA) CKD STMD      70.25         111        20.54
90480                   SYRUP CANE      26.00         269         0.00
90560                    SNAIL RAW      79.20          90        16.10
93600             TURTLE GREEN RAW      78.50          89        19.80

        Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  \
NDB_No
48052            1.85     1.00           13.79           0.6            0.0
80200            0.30     1.40            0.00           0.0            0.0
83110           25.10    13.40            0.00           0.0            0.0
90240            0.84     2.97            5.41           0.0            0.0
90480            0.00     0.86           73.14           0.0           73.2
90560            1.40     1.30            2.00           0.0            0.0
93600            0.50     1.20            0.00           0.0            0.0

        Calcium_(mg)  ...  Vit_A_RAE  Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  \
NDB_No                ...
48052          142.0  ...        0.0        0.00        0.0       0.0
80200           18.0  ...       15.0        1.00        0.2       8.0
83110           66.0  ...       47.0        2.38       25.2    1006.0
90240           10.0  ...        2.0        0.00        0.0       2.0
90480           13.0  ...        0.0        0.00        0.0       0.0
90560           10.0  ...       30.0        5.00        0.0       0.0
93600          118.0  ...       30.0        0.50        0.0       0.0

        Vit_K_(mcg)  FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)  Cholestrl_(mg)  \
NDB_No
48052           0.0       0.272        0.156        0.810             0.0
80200           0.1       0.076        0.053        0.102            50.0
83110           7.8       7.148        8.320        6.210            95.0
90240           0.0       0.218        0.082        0.222            41.0
90480           0.0       0.000        0.000        0.000             0.0
90560           0.1       0.361        0.259        0.252            50.0
93600           0.1       0.127        0.088        0.170            50.0

        NBD_No
NDB_No
48052    48052
80200    80200
83110    83110
90240    90240
90480    90480
90560    90560
93600    93600

[7 rows x 36 columns]

In [5]:
"""
3. Extraire une série qui représente la première ligne du dataframe « premier individu de notre base ».
 Afficher la série et observer son nom. Tester différentes manières de procéder (slicing, loc, iloc).
"""
info(df.iloc[0])
info(df.loc[1001])
info(df[0:1])

[INFO  16:26:46] Shrt_Desc          BUTTER WITH SALT
Water_(g)                     15.87
Energ_Kcal                      717
Protein_(g)                    0.85
Lipid_Tot_(g)                 81.11
Ash_(g)                        2.11
Carbohydrt_(g)                 0.06
Fiber_TD_(g)                    0.0
Sugar_Tot_(g)                  0.06
Calcium_(mg)                   24.0
Iron_(mg)                      0.02
Magnesium_(mg)                  2.0
Phosphorus_(mg)                24.0
Potassium_(mg)                 24.0
Sodium_(mg)                   643.0
Zinc_(mg)                      0.09
Copper_(mg)                     0.0
Manganese_(mg)                  0.0
Selenium_(mcg)                  1.0
Vit_C_(mg)                      0.0
Thiamin_(mg)                  0.005
Riboflavin_(mg)               0.034
Niacin_(mg)                   0.042
Vit_B6_(mg)                   0.003
Vit_B12_(mcg)                  0.17
Vit_A_IU                     2499.0
Vit_A_RAE                     684.0
Vit_E_(mg)                     2.32
Vit_D_mcg                       1.5
Vit_D_IU                       60.0
Vit_K_(mcg)                     7.0
FA_Sat_(g)                   51.368
FA_Mono_(g)                  21.021
FA_Poly_(g)                   3.043
Cholestrl_(mg)                215.0
NBD_No                         1001
Name: 1001, dtype: object
[INFO  16:26:46] Shrt_Desc          BUTTER WITH SALT
Water_(g)                     15.87
Energ_Kcal                      717
Protein_(g)                    0.85
Lipid_Tot_(g)                 81.11
Ash_(g)                        2.11
Carbohydrt_(g)                 0.06
Fiber_TD_(g)                    0.0
Sugar_Tot_(g)                  0.06
Calcium_(mg)                   24.0
Iron_(mg)                      0.02
Magnesium_(mg)                  2.0
Phosphorus_(mg)                24.0
Potassium_(mg)                 24.0
Sodium_(mg)                   643.0
Zinc_(mg)                      0.09
Copper_(mg)                     0.0
Manganese_(mg)                  0.0
Selenium_(mcg)                  1.0
Vit_C_(mg)                      0.0
Thiamin_(mg)                  0.005
Riboflavin_(mg)               0.034
Niacin_(mg)                   0.042
Vit_B6_(mg)                   0.003
Vit_B12_(mcg)                  0.17
Vit_A_IU                     2499.0
Vit_A_RAE                     684.0
Vit_E_(mg)                     2.32
Vit_D_mcg                       1.5
Vit_D_IU                       60.0
Vit_K_(mcg)                     7.0
FA_Sat_(g)                   51.368
FA_Mono_(g)                  21.021
FA_Poly_(g)                   3.043
Cholestrl_(mg)                215.0
NBD_No                         1001
Name: 1001, dtype: object
[INFO  16:26:46]                Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)  Lipid_Tot_(g)  \
NDB_No
1001    BUTTER WITH SALT      15.87         717         0.85          81.11

        Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  Calcium_(mg)  \
NDB_No
1001       2.11            0.06           0.0           0.06          24.0

        ...  Vit_A_RAE  Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  Vit_K_(mcg)  \
NDB_No  ...
1001    ...      684.0        2.32        1.5      60.0          7.0

        FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)  Cholestrl_(mg)  NBD_No
NDB_No
1001        51.368       21.021        3.043           215.0    1001

[1 rows x 36 columns]

In [6]:
"""
4. Extraire les cinq dernières lignes sans utiliser la fonction « tail »
5. Affecter la colonne « NDB_No » à la variable «Ndb_col » et la colonne «protein_(g)»
 à la variable «pretein_en_gramme » quel est le type de chacune de ces variables.
"""
debug(df[:5])

df["Nbd_col"] = df["NBD_No"]
df["protein_en_gramme"] = df["Protein_(g)"]
info(df["NBD_No"].dtype)
info(df["Nbd_col"].dtype)
info(df["Protein_(g)"].dtype)
info(df["protein_en_gramme"].dtype)

[DEBUG 16:26:46]                        Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)  \
NDB_No
1001            BUTTER WITH SALT      15.87         717         0.85
1002    BUTTER WHIPPED WITH SALT      15.87         717         0.85
1003        BUTTER OIL ANHYDROUS       0.24         876         0.28
1004                 CHEESE BLUE      42.41         353        21.40
1005                CHEESE BRICK      41.11         371        23.24

        Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  \
NDB_No
1001            81.11     2.11            0.06           0.0           0.06
1002            81.11     2.11            0.06           0.0           0.06
1003            99.48     0.00            0.00           0.0           0.00
1004            28.74     5.11            2.34           0.0           0.50
1005            29.68     3.18            2.79           0.0           0.51

        Calcium_(mg)  ...  Vit_A_RAE  Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  \
NDB_No                ...
1001            24.0  ...      684.0        2.32        1.5      60.0
1002            24.0  ...      684.0        2.32        1.5      60.0
1003             4.0  ...      840.0        2.80        1.8      73.0
1004           528.0  ...      198.0        0.25        0.5      21.0
1005           674.0  ...      292.0        0.26        0.5      22.0

        Vit_K_(mcg)  FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)  Cholestrl_(mg)  \
NDB_No
1001            7.0      51.368       21.021        3.043           215.0
1002            7.0      50.489       23.426        3.012           219.0
1003            8.6      61.924       28.732        3.694           256.0
1004            2.4      18.669        7.778        0.800            75.0
1005            2.5      18.764        8.598        0.784            94.0

        NBD_No
NDB_No
1001      1001
1002      1002
1003      1003
1004      1004
1005      1005

[5 rows x 36 columns]
[INFO  16:26:46] int64
[INFO  16:26:46] int64
[INFO  16:26:46] float64
[INFO  16:26:46] float64

In [7]:
"""
6. Sélectionner trois colonnes et affecter le dataframe résultant à la variable «df_3c» ; afficher le résultat.
7. Sélectionner et afficher seulement les colonnes qui se terminent par « (mg) »
"""
df_3d: pd.DataFrame = df[df.columns[:3]]
debug(df_3d)

mg_cols: list[str] = [col for col in df.columns if col.endswith("(mg)")]
info(df[mg_cols].head(5))

[DEBUG 16:26:47]                          Shrt_Desc  Water_(g)  Energ_Kcal
NDB_No
1001              BUTTER WITH SALT      15.87         717
1002      BUTTER WHIPPED WITH SALT      15.87         717
1003          BUTTER OIL ANHYDROUS       0.24         876
1004                   CHEESE BLUE      42.41         353
1005                  CHEESE BRICK      41.11         371
...                            ...        ...         ...
83110              MACKEREL SALTED      43.00         305
90240   SCALLOP (BAY&SEA) CKD STMD      70.25         111
90480                   SYRUP CANE      26.00         269
90560                    SNAIL RAW      79.20          90
93600             TURTLE GREEN RAW      78.50          89

[8618 rows x 3 columns]
[INFO  16:26:47]         Calcium_(mg)  Iron_(mg)  Magnesium_(mg)  Phosphorus_(mg)  \
NDB_No
1001            24.0       0.02             2.0             24.0
1002            24.0       0.16             2.0             23.0
1003             4.0       0.00             0.0              3.0
1004           528.0       0.31            23.0            387.0
1005           674.0       0.43            24.0            451.0

        Potassium_(mg)  Sodium_(mg)  Zinc_(mg)  Copper_(mg)  Manganese_(mg)  \
NDB_No
1001              24.0        643.0       0.09        0.000           0.000
1002              26.0        659.0       0.05        0.016           0.004
1003               5.0          2.0       0.01        0.001           0.000
1004             256.0       1146.0       2.66        0.040           0.009
1005             136.0        560.0       2.60        0.024           0.012

        Vit_C_(mg)  Thiamin_(mg)  Riboflavin_(mg)  Niacin_(mg)  Vit_B6_(mg)  \
NDB_No
1001           0.0         0.005            0.034        0.042        0.003
1002           0.0         0.005            0.034        0.042        0.003
1003           0.0         0.001            0.005        0.003        0.001
1004           0.0         0.029            0.382        1.016        0.166
1005           0.0         0.014            0.351        0.118        0.065

        Vit_E_(mg)  Cholestrl_(mg)
NDB_No
1001          2.32           215.0
1002          2.32           219.0
1003          2.80           256.0
1004          0.25            75.0
1005          0.26            94.0

---
# Exercice 3 : « Manipulation des données »

In [8]:
"""
1. Effectuer les opérations mathématiques suivantes à des colonnes de votre choix: +cts ; -cts ; *cts ; /cts .
2. Effectuer une opération entre deux colonnes. Vérifier vos résultats en affichant, les deux colonnes et le résultat.
"""
info((df_3d["Shrt_Desc"] + "!").head(2))
info((df_3d["Energ_Kcal"] - 18).head(2))
info((df_3d["Energ_Kcal"] * 2).head(2))
info((df_3d["Energ_Kcal"] / 5).head(2))

df_op: pd.DataFrame = df[["Energ_Kcal","Iron_(mg)"]].copy()
df_op["result"] = df["Energ_Kcal"] * df["Iron_(mg)"]
debug(df_op.head(3))

[INFO  16:26:47] NDB_No
1001            BUTTER WITH SALT!
1002    BUTTER WHIPPED WITH SALT!
Name: Shrt_Desc, dtype: object
[INFO  16:26:47] NDB_No
1001    699
1002    699
Name: Energ_Kcal, dtype: int64
[INFO  16:26:47] NDB_No
1001    1434
1002    1434
Name: Energ_Kcal, dtype: int64
[INFO  16:26:47] NDB_No
1001    143.4
1002    143.4
Name: Energ_Kcal, dtype: float64
[DEBUG 16:26:47]         Energ_Kcal  Iron_(mg)  result
NDB_No
1001           717       0.02   14.34
1002           717       0.16  114.72
1003           876       0.00    0.00

In [9]:
"""
3. Normaliser la colonne « Energ_Kcal » en affectant le résultat à « normalized_Energ_Kcal »
4. Affecter la colonne normalisée, représentée par la variable «normalized_Energ_Kcal» à la nouvelle colonne
 qu’on nommera «Norm_Energ_Kcal» dans le dataframe.
5. Stantardiser la même colonne « Energ_Kcal » et ajouter le résultat dans la colonne « Stand_Energ_Kcal »
6. Trier de façon décroissante le dataframe « food_info », par rapport à la colonne « Norm_Energ_Kcal»
"""
normalized_Energ_Kcal: pd.Series = df["Energ_Kcal"] / sum(df["Energ_Kcal"])

df["Norm_Energ_Kcal"] = normalized_Energ_Kcal
info(df[["Energ_Kcal","Norm_Energ_Kcal"]].head(5))

standardized: pd.Series = (df["Energ_Kcal"] - df["Energ_Kcal"].mean()) / df["Energ_Kcal"].std()
df["Stand_Energ_Kcal"] = standardized
debug(df[["Energ_Kcal","Norm_Energ_Kcal", "Stand_Energ_Kcal"]].head(5))

sorted_df = df.sort_values("Norm_Energ_Kcal", ascending = False)
info(sorted_df[["Energ_Kcal","Norm_Energ_Kcal", "Stand_Energ_Kcal"]].head(5))

[INFO  16:26:48]         Energ_Kcal  Norm_Energ_Kcal
NDB_No
1001           717         0.000367
1002           717         0.000367
1003           876         0.000449
1004           353         0.000181
1005           371         0.000190
[DEBUG 16:26:48]         Energ_Kcal  Norm_Energ_Kcal  Stand_Energ_Kcal
NDB_No
1001           717         0.000367          2.896066
1002           717         0.000367          2.896066
1003           876         0.000449          3.834734
1004           353         0.000181          0.747165
1005           371         0.000190          0.853429
[INFO  16:26:48]         Energ_Kcal  Norm_Energ_Kcal  Stand_Energ_Kcal
NDB_No
4001           902         0.000462          3.988227
4589           902         0.000462          3.988227
4520           902         0.000462          3.988227
4590           902         0.000462          3.988227
4591           902         0.000462          3.988227

---
# Exercice 4 : « Traitement des valeurs manquantes »

In [26]:
"""
1. Charger la base « titanic.xls» en utilisant « read_excel()»
2. Afficher les caractéristiques du dataframe « nombre de passagers, nombre et noms de variables statistiques observées » ;
3. Récupérer la colonne « sex » dans une variable nommée « genre ».
4. Utiliser la fonction isnull() pour vérifier l’état de chaque ligne de la variable « genre ».
5. Afficher les lignes du dataframe dont la valeur du genre est non renseignée.
6. Compter le nombre de cases non renseignées dans la colonne « Age »
7. Créer une série qui ne contient que les âges renseignés et calculer l’âge moyen des passagers
"""
titanic: pd.DataFrame = pd.read_excel("data/titanic.xls")
info(f"Nombre de passagers: {titanic.shape[0]}")
info(f"{len(titanic.columns)} colonnes:\n{titanic.columns}")

genre: pd.Series = titanic["sex"]

debug(genre.isnull())

info(titanic[genre.isnull()])

age: pd.Series = titanic["age"]
debug(f"Non renseignées: {sum(age.isnull())}")

age_filtered = age.dropna()
info(f"Âge moyen: {age_filtered.mean()}")

[INFO  16:41:58] Nombre de passagers: 1309
[INFO  16:41:58] 14 colonnes:
Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')
[DEBUG 16:41:58] 0       False
1       False
2       False
3       False
4       False
        ...
1304    False
1305    False
1306    False
1307    False
1308    False
Name: sex, Length: 1309, dtype: bool
[INFO  16:41:58] Empty DataFrame
Columns: [pclass, survived, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked, boat, body, home.dest]
Index: []
[DEBUG 16:41:58] Non renseignées: 263
[INFO  16:41:58] Âge moyen: 29.8811345124283

In [31]:
"""
8. Calculer la moyenne de la colonne âge sans filtrer les cases non renseignées, qu’observez-vous ? Expliquer ce comportement.
9. Supprimer toutes les lignes qui comportent une case non renseignée et affecter le
 résultat à une nouvelle variable « Lignes_sans_valeurs_manquantes ».
 Procéder de deux façons différentes, avec « drop() » et « dropna() ».
10. Supprimer les colonnes qui comportent des cases non renseignées et affecter le
 résultat à une nouvelle variable « Colonnes_sans_valeurs_manquantes».
11. Supprimer toutes les lignes qui comportent une case non renseignée pour les colonnes « age ou sex »
 et affecter le résultat à une nouvelle variable « Nouvelle_Base »
12. Comparer les tailles des trois bases créées par rapport à la base initiale.
"""
info(f"Âge moyen: {age.mean()}")	# Il ignore les NA

Lignes_sans_valeurs_manquantes: pd.DataFrame = titanic.dropna(axis = 0)
debug(Lignes_sans_valeurs_manquantes)
#Lignes_sans_valeurs_manquantes: pd.DataFrame = titanic.drop()	# Nécessite de préciser at least one of 'labels', 'index' or 'columns'"
#debug(Lignes_sans_valeurs_manquantes)

Colonnes_sans_valeurs_manquantes: pd.DataFrame = titanic.dropna(axis = 1)
info(Colonnes_sans_valeurs_manquantes.head(1))

Nouvelle_Base: pd.DataFrame = titanic.dropna(subset=["age","sex"])
debug(Nouvelle_Base.head(1))

[INFO  16:55:19] Âge moyen: 29.8811345124283
[DEBUG 16:55:19] Empty DataFrame
Columns: [pclass, survived, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked, boat, body, home.dest]
Index: []
[INFO  16:55:19]    pclass  survived                           name     sex  sibsp  parch  \
0       1         1  Allen, Miss. Elisabeth Walton  female      0      0

  ticket
0  24160
[DEBUG 16:55:19]    pclass  survived                           name     sex   age  sibsp  \
0       1         1  Allen, Miss. Elisabeth Walton  female  29.0      0

   parch ticket      fare cabin embarked boat  body     home.dest
0      0  24160  211.3375    B5        S    2   NaN  St Louis, MO

---
# Exercice 5 : « Analyse statistique »

In [12]:
"""
1. Calculer le prix moyen payé par classe et stocker le résultat dans un dictionnaire,
 où la clé correspond à la classe et la valeur au prix moyen qui lui est associé.
 Afficher les éléments de votre dictionnaire.
2. Recalculer la même chose que la question précédente en utilisant la fonction « pivot_table » :
 https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html
3. Utiliser cette même fonction pour calculer l’âge moyen par classe ainsi que le taux de survie.
4. En utilisant toujours la même fonction, calculer le total d’argent encaissé et
 le nombre de survivants selon le port d’embarcation.
5. Ré-indexer le dataframe en utilisant la méthode « reset_index ». Écrire la
 commande qui permet de garder l’ancien index comme une nouvelle colonne, et
 sauvegarder le résultat dans une nouvelle variable.
"""

'\n1. Calculer le prix moyen payé par classe et stocker le résultat dans un dictionnaire,\n où la clé correspond à la classe et la valeur au prix moyen qui lui est associé.\n Afficher les éléments de votre dictionnaire.\n2. Recalculer la même chose que la question précédente en utilisant la fonction « pivot_table » :\n https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html\n3. Utiliser cette même fonction pour calculer l’âge moyen par classe ainsi que le taux de survie.\n4. En utilisant toujours la même fonction, calculer le total d’argent encaissé et\n le nombre de survivants selon le port d’embarcation.\n5. Ré-indexer le dataframe en utilisant la méthode « reset_index ». Écrire la\n commande qui permet de garder l’ancien index comme une nouvelle colonne, et\n sauvegarder le résultat dans une nouvelle variable.\n'

In [13]:
"""
6. Même question que la précédente mais en supprimant l’ancien index.
7. Écrire une fonction qui compte le nombre de cases non renseignées dans une série,
 ensuite combiner la avec la fonction « apply() » pour stocker le nombre de cases non renseignées
 par colonne dans une nouvelle variable de votre choix.
8. Comparer le résultat de la question précédente avec la fonction « isna »
9. Écrire une fonction qui reçoit une ligne du dataframe et qui retourne un message en fonction
 de l’âge et de la classe du passager « Mineur en première classe, Majeur en première classe,
 ….., Mineur en troisième classe, …, Mineur mais classe non renseignée, etc ».
 Combiner cette fonction avec la fonction « apply() » pour afficher
 ces messages pour l’ensemble des passagers du Titanic.
"""

'\n6. Même question que la précédente mais en supprimant l’ancien index.\n7. Écrire une fonction qui compte le nombre de cases non renseignées dans une série,\n ensuite combiner la avec la fonction « apply() » pour stocker le nombre de cases non renseignées\n par colonne dans une nouvelle variable de votre choix.\n8. Comparer le résultat de la question précédente avec la fonction « isna »\n9. Écrire une fonction qui reçoit une ligne du dataframe et qui retourne un message en fonction\n de l’âge et de la classe du passager « Mineur en première classe, Majeur en première classe,\n ….., Mineur en troisième classe, …, Mineur mais classe non renseignée, etc ».\n Combiner cette fonction avec la fonction « apply() » pour afficher\n ces messages pour l’ensemble des passagers du Titanic.\n'

In [14]:
"""
10. Ajouter à votre dataframe une colonne « target_age » qui comporte les catégories « Adulte, Mineur, Inconnu »
 en fonction de l’âge du passager. Ensuite utiliser la fonction « pivote_table » pour
 calculer la moyenne de chance de survie pour chaque catégorie d’âge.

11. Créer un nouveau dataframe nommé « Titanic_reduit», en supprimant toutes les colonnes sauf « pclass, suvived, sex, age ».

12. Utiliser le fonctions describe() et info() pour afficher les caractéristiques de ce nouveau dataframe.

13. Utiliser la fonction « fillna()) pour remplir les cases non renseignées de
 la colonne des âges par la moyenne des âges des passagers.

14. Utiliser la fonction « value_counts()» pour calculer le nombre de passagers par classe.

15. Utiliser la fonction « groupeby()» en regrouper selon le genre, ensuite appliquer
 la fonction « means » pour calculer la moyenne des colonnes restantes.

16. Recalculer la même chose en regroupant selon le genre et la classe :
	a. En utilisant l’ensemble des passagers,
	b. Les mineurs,
	c. Les adultes
"""

'\n10. Ajouter à votre dataframe une colonne « target_age » qui comporte les catégories « Adulte, Mineur, Inconnu »\n en fonction de l’âge du passager. Ensuite utiliser la fonction « pivote_table » pour\n calculer la moyenne de chance de survie pour chaque catégorie d’âge.\n\n11. Créer un nouveau dataframe nommé « Titanic_reduit», en supprimant toutes les colonnes sauf « pclass, suvived, sex, age ».\n\n12. Utiliser le fonctions describe() et info() pour afficher les caractéristiques de ce nouveau dataframe.\n\n13. Utiliser la fonction « fillna()) pour remplir les cases non renseignées de\n la colonne des âges par la moyenne des âges des passagers.\n\n14. Utiliser la fonction « value_counts()» pour calculer le nombre de passagers par classe.\n\n15. Utiliser la fonction « groupeby()» en regrouper selon le genre, ensuite appliquer\n la fonction « means » pour calculer la moyenne des colonnes restantes.\n\n16. Recalculer la même chose en regroupant selon le genre et la classe :\n\ta. En utilisant l’ensemble des passagers,\n\tb. Les mineurs,\n\tc. Les adultes\n'